<!-- Resources -->
<div class="container" [ngClass]="nightMode? 'night-mode-color': 'light-mode-color'" *ngIf="showPage">
  <div>
    <div class="components">
      <div class="search-container">
        <!-- Search form -->
        <div class="search-wrapper">
          <span class="search-icon" [ngClass]="nightMode? 'night-mode-color': 'light-mode-color'"><i
              class="fa fa-search"></i></span>
          <input class="search-input" [ngClass]="nightMode? 'nightmode-box': 'lightmode-box'" placeholder="Search for a country"
            type="text" [(ngModel)]="searchText">
        </div>
      </div>

      <!-- Filter dropdown -->
      <div class="filter">
        <app-filter-dropdown (filteredCountries)="populateFilteredData($event)" [nightMode]="nightMode">
        </app-filter-dropdown>
      </div>
    </div>

    <div class="content" role="main">
      <div class="card-container">
        <div class="alignment">
          <div class="card" target="_blank" rel="noopener" routerLink="/alpha/{{country.cca2 ? country.cca2.toLowerCase() : country.name.common.toLowerCase()}}"
            *ngFor="let country of countryData | filter: searchText"
            [ngClass]="nightMode ? 'nightmode-box': 'lightmode-box'">
            <div class="card-inner" (click)="onCountryClick(country)">
              <div class="card-img-wrapper">
                <img [src]="country.flags?.png || country.flags?.svg" class="card-img-top" [alt]="country.name?.common" (error)="onFlagError($event, country)">
              </div>
              <div class="card-body" [ngClass]="nightMode? 'night-mode-color': 'light-mode-color'">
                <div class="card-info">
                  <h5 class="card-title">{{country.name?.common | shortName:24}}</h5>
                  <div class="card-details">
                    <p class="card-text"><span>Population :</span> {{country.population}}</p>
                    <p class="card-text"><span>Region :</span> {{country.region || 'N/A'}}</p>
                    <p class="card-text"><span>Capital :</span> {{country.capital && country.capital.length ? country.capital[0] : 'N/A'}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>