
<div [ngClass]="nightMode? 'night-mode-color': 'light-mode-color'" *ngIf="showPage">
  <!-- Header -->
  <div class="toolbar" [ngClass]="nightMode? 'nightmode-box-shadow': 'lightmode-box-shadow'" role="banner"
  [ngStyle]="{'border': nightMode? '0.2rem solid white': '0.2rem solid black'}">
    <div class="spacer" [ngClass]="nightMode? 'night-mode-color': 'light-mode-color'"><span style="font-family: 'Courier New', cursive; font-size: 40px;">CountryPedia.</span></div>
    <div>
      <span>
        <i [ngClass]="nightMode? 'fa fa-sun-o': 'light-mode-font-color fa fa-moon-o'" aria-hidden="true"></i>
      </span>
      <button (click)="appService.setMode(!nightMode)" [ngClass]="nightMode? 'night-mode-color': 'light-mode-color'">{{nightMode? 'Light Mode': 'Dark Mode'}}</button>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
  </ngx-spinner>   
<router-outlet></router-outlet>