  .spacer {
    flex: 1;
    margin-left: 2rem;
  }

  .toolbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    box-sizing: unset;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .container {
    padding-top: 1rem;
  }

  .light-mode {
    color: #fff;
  }

  .night-mode {
    background-color: #292c37;
  }

  button {
    border: none;
    outline: none;
  }