<div [ngClass]="nightMode? 'night-mode-color': 'light-mode-color'" *ngIf="showPage">
  <!-- Header -->
  <div class="toolbar" [ngClass]="nightMode? 'nightmode-box-shadow': 'lightmode-box-shadow'" role="banner">
    <div class="spacer"></div>
    <div>
      <span>
        <i class="fa fa-moon-o" [ngClass]="nightMode? '': 'light-mode-font-color'" aria-hidden="true"></i>
      </span>
      <button (click)="appService.setMode(!nightMode)" [ngClass]="nightMode? 'night-mode-color': 'light-mode-color'">{{nightMode? 'Light Mode': 'Dark Mode'}}</button>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
  </ngx-spinner>   
<router-outlet></router-outlet>